ElizaRobot/config.py
ElizaRobot/*.session
ElizaRobot/*.session-journal
ElizaRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ElizaRobot/modules/helper_funcs/temp.txt
ElizaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe
