# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# Phoenix owns the files under blacklist thingies
/ElizaRobot/modules/blacklistusers.py @zero4574
/ElizaRobot/modules/sql/blacklistusers_sql.py @zero4574
#pep8-ing the code doesn't change maker
/ElizaRobot/modules/paste.py @zero4574
/tg_bit/modules/speed_test.py @zero4574
